<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwExceptions="false"
    internalLogLevel="Off" internalLogFile="${basedir}\logs\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target type="File"
            name="File"
            fileName="${basedir}/logs/${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message}">
    </target>
    <target type="File"
            name="File_Error"
            fileName="${basedir}/logs/${shortdate}_Error.txt"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message}">
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="File" />
    <!--<logger name="*" minlevel="Error" writeTo="Web" />-->
    <logger name="*" minlevel="Error" writeTo="File_Error" />
    <!--<logger name="*" minlevel="Error" writeTo="Mail" />-->
  </rules>
</nlog>